
    *::after,
    *::before {
        margin:0;
        padding: 0;
        box-sizing: border-box;
    }

section{
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
    background-color: rgb(249,249,255);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container {
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center ;
    flex-direction: column;
}

.row {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.col {
    width: 350px;
    margin:30px 20px;
    border: 1px solid #ccc;
    
}

.imgcontainer img {
    height: 120px;
}

@media (max-width:1080px){
  .row{
    width: 70%
    
  }  
  

}


@media (max-width:450px){
    .row{
        width: 70%
      }  

     
}